@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<Do_an_co_so.Models.Product>

<div class="row featured__filter">
    @foreach (var item in Model) {
        <div class="col-lg-3 col-md-4 col-sm-6 mix @item.Categories.CategoryName">
            <div class="featured__item">
                <div class="featured__item__pic set-bg" data-setbg="/img/main/products/@item.ProductImage">
                    <ul class="featured__item__pic__hover">
                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                        <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                </div>
                <div class="featured__item__text">
                    <h6><a href="#">@item.ProductName</a></h6>
                    <h5>@item.ProductPrice VND</h5>
                </div>
            </div>
        </div>
        }

   
</div>