@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@model IEnumerable<Do_an_co_so.Models.Categories>

<div class="container">
    <div class="row">
        <div class="categories__slider owl-carousel">
            @foreach (var item in Model)
            {
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="/img/categories/@item.CategoriesImage">
                        <h5><a href="#">@item.CategoryName</a></h5>
                    </div>
                </div>
            }

        </div>
    </div>
</div>

